<html>
<head>
    <title>{{ page_title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class=container" style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
    <br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                <center>
                    {% from "_helper_challenges_registration.html" import render_field %}
                    <dl>
                        {{ render_field(form.phone) }}
                        {{ render_field(form.email) }}
                    </dl>
                    <button class="btn btn-success" type="submit">Submit</button>
                </center>
            </form>
        </div>
        <br>
    </div>
</div>
</body>
</html>