<html>
<head>
    <title>{{ page_title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="container">
    <br>
    <center>
        <h1>{{ page_title }}</h1>
    </center>
</div>
<div class=container" style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
    <br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                <h4> Challenge 1: </h4>
                <p>
                <p>
                <h6>1. CycleToWork </h6>
                <small>
                    - Contribute your commutes to work for the #CycleToWork initiative by commuting 10 times to/from
                    work in June. <br>
                    - Needs registration at <a href="http://cycleto.work"> cycleto.work </a> <br>
                    - Rides have to be to the location registered on CycleToWork. <br>
                    - Starting Bonus of 50 points each for the first 2 CycleToWork days (max points 100). <br>
                    - Accumulate 30 points for each CycleToWork ride including the first 2 rides (max 300 points). <br>
                    - Additional Bonus of 100 points if you have more than 12 CycleToWork days in June. <br>
                </small>
                </p>
                </p>
                <h4> Challenge 2: </h4>
                <p>
                <p>
                <h6>2a: 6x15 </h6>
                <small>
                    - Do at least 15 rides of 6 km or more in the month of June, 2019. <br>
                    - It has to be a single ride on Strava. Multiple rides adding up to 6 km in a day will not be
                    counted. <br>
                    - Multiple rides (of 6 or more km each) in a day are welcome and will be counted. <br>
                    - Accumulate 6 points for each counted ride day (max 180 points). <br>
                    - Bonus of 20 points for completing the challenge (15 counted ride days). <br>
                    - Additional Bonus of 50 points for doing a 25+ km ride in June (single ride). <br>
                </small>
                </p>
                <p>
                <h6>2b: 30x30 </h6>
                <small>
                    - Do 30 rides of 30 minutes each ride in the month of June, 2019. <br>
                    - It has to be a single ride on Strava. <br>
                    - Multiple rides adding up to 30 minutes will not be counted. <br>
                    - Multiple rides (of 30 minutes or more) in a day are welcome and counted. <br>
                    - Accumulate 6 points for each counted ride (limited to max of 180 points). <br>
                    - Bonus of 20 points for completing the challenge (30 counted rides). <br>
                    - Additional Bonus of 50 points for doing a 3+ hour ride in June (single ride). <br>
                </small>
                </p>
                <p>
                <h6>2c: How far can you go </h6>
                <small>
                    - Ride as much as you want/can in June. <br>
                    - Multiple rides per day are welcome, however, do take the time to get off the saddle once in a
                    while. <br>
                    - Accumulate 6 points for every 30 kms ridden (max 180 points). <br>
                    - Bonus of 20 points for completing 1000 kms in June. <br>
                    - Additional Bonus of 50 points for doing a 150+ km ride in June (single ride). <br>
                </small>
                </p>
                </p>
                <h4> General Conditions </h4>
                <p>
                    <small>
                        - Challenge 1 is mandatory (riding 1 day to work gets you 160 points)
                        - Only one of 2a, 2b, 2c can be selected (based on your comfort/experience level). <br>
                        - Only outdoor rides recorded on Strava can be counted. <br>
                        - Maximum 750 points can be accumulated from the challenges. <br>
                        - Overall leaderboard will be based on total points accumulated from both the challenges. <br>
                    </small>
                </p>
                {% from "_helper_challenges_registration.html" import render_field %}
                <dl>
                    {{ render_field(form.challenge_one) }}
                    {{ render_field(form.challenge_two) }}
                    {{ render_field(form.ntid) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.phone) }}
                    {{ render_field(form.location) }}
                </dl>
                <center>
                    <button class="btn btn-success" type="submit">Submit</button>
                </center>
            </form>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <strong></strong> {{ message[1] }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <br>
    </div>
</div>
</body>
</html>