<html>
<head>
    <title>{{ page_title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="container">
    <br>
    <center>
        <h2>{{ page_title }}</h2>
    </center>
</div>
<div class=container">
    <br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                {{ form.csrf }}
                <p>
                    <small>I. 20-20: Ride 20 km a day (can include multiple rides) for 20 days during the month.</small>
                </p>
                <p>
                    <small>II. 1,000 km: Ride 1,000 kilometers.</small>
                </p>
                <p>
                    <small>III. 10,000 meters: Gain a total of 10,000 meters elevation (Outdoor rides only).</small>
                </p>
                <div class="form-check">
                    <input class="form-check-input" id="20_20" name="challenge_id" type="checkbox" value="20_20">
                    <label class="form-check-label" for="20_20">
                        20-20
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="1000_km" name="challenge_id" type="checkbox" value="1000_km">
                    <label class="form-check-label" for="1000_km">
                        1,000 km
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="10000_meters" name="challenge_id" type="checkbox"
                           value="10000_meters">
                    <label class="form-check-label" for="10000_meters">
                        10,000 meters
                    </label>
                </div>
                <br>
                <p>
                    <small>Select one or more challenges and click Submit</small>
                </p>
                <center>
                    <button class="btn btn-success" type="submit">Submit</button>
                </center>
            </form>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <strong></strong> {{ message[1] }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <br>
    </div>
</div>
</body>
</html>