<html>
<head>
    <title>{{ page_title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="container">
    <br>
    <center>
        <h2>{{ page_title }}</h2>
    </center>
</div>
<div class=container" style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
    <br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form action="" method="post" role="form">
                <h6>
                    2 categories - Commuter / Distance
                </h6>
                <small>
                    A: Commuter Monthly challenges <br>
                    A1: Basic Commuter - 5 days or more of C2W <br>
                    A2: Advance Commuter - 10 days or more of C2W <br>
                    A3: Prime Commuter - 15 days or more of C2W <br><br>
                    B: Endurance Cyclists Quarterly Challenges <br>
                    Combination of base and bonus points for distance & elevation cycled <br>
                </small>
                <h6> Base Points: </h6>
                <small>
                    10 km = 2 points <br>
                    100 meters = 1 point (Elevation gain) <br>
                    1 activity = 2 points (Minimum 10 kms) <br><br>
                </small>
                <h6> Bonus Points: </h6>
                <small>
                    C2W Activity = 5 points (only 1 per day) <br>
                    25 km in a single ride = 5 points <br>
                    50 km in a single ride = 15 points <br>
                    100 km in a single ride = 15 points <br><br>
                    500 meters of elevation gain in a single ride = 10 points <br>
                    1000 meters of elevation gain in a single ride = 25 points <br><br>
                    3 consecutive 50s = 25 points <br>
                    5 consecutive 50s = 50 points <br>
                    2 consecutive 100s = 50 points <br>
                    3 consecutive 100s = 100 points <br><br>
                </small>
                <h6> Conditions: </h6>
                <small>
                    A cap of 100 kms (single ride) is set for base points in Cycling. For eg. If a rider does a 150 km
                    ride, he/she gets 20 base points only along with applicable bonus points. <br>
                    Similarly, a cap of 2000 meters(single ride) of elevation gain is set for base points in Cycling.
                    For eg. If a rider does a ride with 2500 meters of elevation gain, he/she gets 20 base points along
                    with applicable bonus points. <br><br>
                </small>
                </p>
                {% from "_helper_challenges_registration.html" import render_field %}
                <dl>
                    {{ render_field(form.ntid) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.phone) }}
                    {{ render_field(form.location) }}
                </dl>
                <center>
                    <button class="btn btn-success" type="submit">Submit</button>
                </center>
            </form>
        </div>
        <br>
    </div>
</div>
</body>
</html>